<div class="col-md-12 album">
    <div class="panel panel-default">
        <div class="panel-heading row">
            <h3 class="col-md-8"><i class="fa fa-picture-o" aria-hidden="true"></i>Anh</h3>
            <div class="col-md-4">
                <button class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i>Tao album</button>
                <button class="btn btn-default"><i class="fa fa-pencil" aria-hidden="true"></i>Them anh/video</button>
            </div>
            <div>
                
            </div>
        </div>
        <div class="panel-body">
        </div>        
    </div>
</div>