<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header col-md-1">
            <!-- Collapsed Hamburger -->
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#app-navbar-collapse">
                <span class="sr-only">Toggle Navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <!-- Branding Image -->
            <a class="navbar-brand" routerLink="">
                Dream
            </a>
        </div>

        <div class="collapse navbar-collapse" id="app-navbar-collapse">
            <!-- Left Side Of Navbar -->
            <div class="navbar-left col-md-7">
                <ul class="nav navbar-nav col-md-4">
                    <li class="forum">
                        <a routerLink="forum" >FORUM</a>
                        <ul class="list-unstyled menu" >
                            <li class="row">
                                <img src="assets/images/event.png" class="col-md-3">
                                <div class="col-md-9"><a>Thong tin su kien</a></div>
                            </li>
                            <li class="row">
                                <img src="assets/images/tech.png" class="col-md-3">
                                <div class="col-md-9"><a>Khoa hoc - cong nghe</a></div>
                            </li>
                            <li class="row">
                                <img src="assets/images/desktop.ico" class="col-md-3">
                                <div class="col-md-9"><a>May tinh</a></div>
                            </li>
                            <li class="row">
                                <img src="assets/images/mobile.ico" class="col-md-3">
                                <div class="col-md-9"><a>Mobile</a></div>
                            </li>
                            <li class="row">
                                <img src="assets/images/game.png" class="col-md-3">
                                <div class="col-md-9"><a>Game</a></div>
                            </li>
                            <li class="row">
                                <img src="assets/images/entertaiment.png" class="col-md-3">
                                <div class="col-md-9"><a>Giai tri</a></div>
                            </li>
                            <li class="row">
                                <img src="assets/images/it.png" class="col-md-3">
                                <div class="col-md-9"><a>Lap trinh</a></div>
                            </li>
                            <li class="row">
                                <img src="assets/images/ecommerce.png" class="col-md-3">
                                <div class="col-md-9"><a>Thuong mai dien tu</a></div>
                            </li>
                        </ul>
                    </li>
                    <li><a routerLink="" >NEWS</a></li>
                </ul>
                <form class="col-md-7" id="search-form" role="search">
                    <div class="form-group ">
                      <input type="text" class="form-control " placeholder="Search">
                    </div>
                    <a id="search-button" class="btn col-md-1 pull-right"><i class="fa fa-search" aria-hidden="true"></i></a>
                </form>
            </div>
            

            <!-- Right Side Of Navbar -->
            <ul class="nav navbar-nav navbar-right notification">
                <li><a routerLink="login">LOGIN</a></li>
                <li><a routerLink="register">REGISTER</a></li>
                <!-- <li class="row user">
                    <div  class="col-md-3"><img src="assets/images/huonggiang.jpg"></div>
                    <div class="col-md-9 user-name"><a routerLink="/user">Viet Toan</a></div>
                </li>
                <li>
                  <span><i class="fa fa-users fa-lg" aria-hidden="true"></i></span>
                </li>
                <li>
                  <span><i class="fa fa-comments fa-lg" aria-hidden="true"></i></span>
                </li>
                <li>
                  <span><i class="fa fa-globe fa-lg" aria-hidden="true"></i></span>
                </li> -->
            </ul>
        </div>
    </div>
</nav>
