<div class="col-md-12 friends">
    <div class="panel panel-default">
        <div class="panel-heading row">
            <h3 class="col-md-8"><i class="fa fa-user-circle" aria-hidden="true"></i>Ban be</h3>
            <div class="col-md-4">
                <form class="form-horizontal" role="form">
                   <div class="form-group">
                        <div class="col-sm-10">
                          <input type="email" class="form-control" id="txtFriend" placeholder="tim kiem ban be">
                          <i class="fa fa-search pull-right fa-lg" aria-hidden="true"></i>
                        </div>
                      </div>
                </form>
            </div>
        </div>
        <div class="panel-body">
            <div class="col-md-6">
                <div class="row friend-item">
                    <img src="assets/images/huonggiang.jpg" class="col-md-4">
                    <div class="col-md-9">
                        <div class="pull-left">
                            <div><a>Viet Toan</a></div>
                            <div>39 ban chung</div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default"><i class="fa fa-check" aria-hidden="true"></i>Ban be</button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="col-md-6">
                <div class="row friend-item">
                    <img src="assets/images/huonggiang.jpg" class="col-md-4">
                    <div class="col-md-9">
                        <div class="pull-left">
                            <div><a>Viet Toan</a></div>
                            <div>39 ban chung</div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default"><i class="fa fa-check" aria-hidden="true"></i>Ban be</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row friend-item">
                    <img src="assets/images/huonggiang.jpg" class="col-md-4">
                    <div class="col-md-9">
                        <div class="pull-left">
                            <div><a>Viet Toan</a></div>
                            <div>39 ban chung</div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default"><i class="fa fa-check" aria-hidden="true"></i>Ban be</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="row friend-item">
                    <img src="assets/images/huonggiang.jpg" class="col-md-4">
                    <div class="col-md-9">
                        <div class="pull-left">
                            <div><a>Viet Toan</a></div>
                            <div>39 ban chung</div>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-default"><i class="fa fa-check" aria-hidden="true"></i>Ban be</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
    </div>
</div>