<div class="col-md-12 profile">
    <div class="panel panel-default">
        <div class="panel-heading"><h3><i class="fa fa-user-circle" aria-hidden="true"></i>Gioi thieu</h3></div>
            <div class="panel-body">
                <div class="col-md-3 list-profile">
                    <ul class="nav nav-pills nav-stacked " role="tablist">
                      <li class="active"><a data-target="#infomations" role="tab" data-toggle="tab">Thong tin chi tiet</a></li>
                      <li><a data-target="#relationships" role="tab" data-toggle="tab">Cac moi quan he</a></li>
                      <li><a data-target="#events" role="tab" data-toggle="tab">Su kien trong doi</a></li>
                    </ul>
                </div>
                

                <!-- Tab panes -->
                <div class="tab-content col-md-9 content-profile">
                    <div class="tab-pane active" id="infomations">
                        <ul class="col-md-7 list-unstyled">
                            <li class="row">
                                <div class="col-md-12"><img class="img-reponsive" src="assets/images/huonggiang.jpg">Lam viec tai <a>Ha Noi</a></div>
                            </li>
                            <li class="row">
                                <div class="col-md-12"><img class="img-reponsive" src="assets/images/huonggiang.jpg">Lam viec tai <a>Ha Noi</a></div>
                            </li>
                            <li class="row">
                                <div class="col-md-12"><img class="img-reponsive" src="assets/images/huonggiang.jpg">Lam viec tai <a>Ha Noi</a></div>
                            </li>
                        </ul>
                        <ul class="col-md-5 list-unstyled quick-contact">
                            <li><i class="fa fa-mobile" aria-hidden="true"></i>123456789</li>
                            <li><i class="fa fa-envelope" aria-hidden="true"></i>viettoan290696@gmail.com</li>
                            <li><i class="fa fa-birthday-cake" aria-hidden="true"></i>29 06 1996</li>
                        </ul>
                        <div class="col-md-12 add-infomation">
                            <a><div class="col-md-1 plus-content"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></div><h4 class="pull-left">Them thong tin</h4></a>
                        </div>
                    </div>
                    <div class="tab-pane" id="relationships">
                        <article>
                            <header>
                                <p><b>TINH TRANG QUAN HE</b></p>
                            </header>
                            <a><div class="col-md-1 plus-content"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></div><h4 class="pull-left">Them moi quan he</h4></a>
                        </article>
                        <article>
                            <header>
                                <p><b>THANH VIEN TRONG GIA DINH</b></p>
                            </header>
                            <a><div class="col-md-1 plus-content"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></div><h4 class="pull-left">Them moi quan he</h4></a>
                        </article>
                    </div>
                    <div class="tab-pane" id="events">
                        <article>
                            <header>
                                <p><b>SU KIEN TRONG DOI</b></p>
                            </header>
                            <a><div class="col-md-1 plus-content"><i class="fa fa-plus fa-lg" aria-hidden="true"></i></div><h4 class="pull-left">Them su kien</h4></a>
                        </article>
                    </div>
                </div>
            </div>
    </div>
</div>