<div class="container-fluid" id="forum" >
    <section class="row">
        <div class="col-md-4">
            <img src="assets/images/event-thread.png" class="thread-cover">
        </div>
        <div class="col-md-8 sub-thread">
            <div class="info-thread">
                <h3> Thong tin su kien</h3>
                <ul class="list-inline">
                    <li><p>Bai viet: 999</p></li>
                    <li>Binh luan: 9999</li>
                    <li>Likes: 9999</li>         
                 </ul>
            </div>
            
            <ul class="list-unstyled thread-new-post">
                <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
            </ul>
        </div>
    </section>

    <section class="row">
        <div class="col-md-4">
            <img src="assets/images/science-thread.jpg" class="thread-cover">
        </div>
        <div class="col-md-8 sub-thread">
            <div class="info-thread">
                <h3>Khoa hoc cong nghe</h3>
                <ul class="list-inline">
                    <li><p>Bai viet: 999</p></li>
                    <li>Binh luan: 9999</li>
                    <li>Likes: 9999</li>         
                 </ul>
            </div>
            
            <ul class="list-unstyled thread-new-post">
                <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 imgded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
            </ul>
        </div>
    </section>

    <section class="row">
        <div class="col-md-4">
            <img src="assets/images/computer-thread.jpg" class="thread-cover">
        </div>
        <div class="col-md-8 sub-thread">
            <div class="info-thread">
                <h3>May tinh</h3>
                <ul class="list-inline">
                    <li><p>Bai viet: 999</p></li>
                    <li>Binh luan: 9999</li>
                    <li>Likes: 9999</li>         
                 </ul>
            </div>
            
            <ul class="list-unstyled thread-new-post">
                <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
            </ul>
        </div>
    </section>

    <section class="row">
        <div class="col-md-4">
            <img src="assets/images/mobile-thread.jpg" class="thread-cover">
        </div>
        <div class="col-md-8 sub-thread">
            <div class="info-thread">
                <h3> Thong tin su kien</h3>
                <ul class="list-inline">
                    <li><p>Bai viet: 999</p></li>
                    <li>Binh luan: 9999</li>
                    <li>Likes: 9999</li>         
                 </ul>
            </div>
            
           <ul class="list-unstyled thread-new-post">
                <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
            </ul>
        </div>
    </section>

    <section class="row">
        <div class="col-md-4">
            <img src="assets/images/game.png" class="thread-cover">
        </div>
        <div class="col-md-8 sub-thread">
            <div class="info-thread">
                <h3> Thong tin su kien</h3>
                <ul class="list-inline">
                    <li><p>Bai viet: 999</p></li>
                    <li>Binh luan: 9999</li>
                    <li>Likes: 9999</li>         
                 </ul>
            </div>
            
            <ul class="list-unstyled thread-new-post">
                <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
            </ul>
        </div>
    </section>

    <section class="row">
        <div class="col-md-4">
            <img src="assets/images/entertainment-thread.jpg" class="thread-cover">
        </div>
        <div class="col-md-8 sub-thread">
            <div class="info-thread">
                <h3>Giai tri</h3>
                <ul class="list-inline">
                    <li><p>Bai viet: 999</p></li>
                    <li>Binh luan: 9999</li>
                    <li>Likes: 9999</li>         
                 </ul>
            </div>
            
            <ul class="list-unstyled thread-new-post">
                <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
            </ul>
        </div>
    </section>

    <section class="row">
        <div class="col-md-4">
            <img src="assets/images/it-thread.png" class="thread-cover">
        </div>
        <div class="col-md-8 sub-thread">
            <div class="info-thread">
                <h3>Lap trinh</h3>
                <ul class="list-inline">
                    <li><p>Bai viet: 999</p></li>
                    <li>Binh luan: 9999</li>
                    <li>Likes: 9999</li>         
                 </ul>
            </div>
            
            <ul class="list-unstyled thread-new-post">
                <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
            </ul>
        </div>
    </section>

    <section class="row">
        <div class="col-md-4">
            <img src="assets/images/ecommerce.png" class="thread-cover">
        </div>
        <div class="col-md-8 sub-thread">
            <div class="info-thread">
                <h3>Thuong mai dien tu</h3>
                <ul class="list-inline">
                    <li><p>Bai viet: 999</p></li>
                    <li>Binh luan: 9999</li>
                    <li>Likes: 9999</li>         
                 </ul>
            </div>
            
            <ul class="list-unstyled thread-new-post">
                <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
                 <li class="row">
                    <div class="col-md-8">
                        <img src="assets/images/huonggiang.jpg" class="col-md-3 img-rounded">
                        <div class="col-md-9">
                            <p><a>Meizu Pro 7 Plus có hai màn hình, độc nhất là </a></p>
                            <small> 1 phut truoc</small>
                        </div>
                    </div>
                    <div class="col-md-2">9 binh luan</div>
                    <div class="col-md-2">9 likes</div>
                </li>
            </ul>
        </div>
    </section>
</div>