<div class="sidebar-admin">
    <header><p class="text-center">DREAM ADMIN</p></header>
    <ul class="list-unstyled">
        <p class="text-center">DASHBOARD</p>
        <li>
            <a>
                <i class="fa fa-dashboard fa-fw"></i>
                Dashboard
            </a>
        </li>
        <p class="text-center">COMPONENT</p>
        <li>
            <a>
                <i class="fa fa-dashboard fa-fw"></i>
                User
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-dashboard fa-fw"></i>
                Posts
            </a>
        </li>
        <li>
            <a data-toggle="collapse" data-target="#media">
                <i class="fa fa-dashboard fa-fw"></i>
                Media
                <i class="fa fa-angle-down pull-right" aria-hidden="true"></i>
            </a>
        </li>
        <ul id="media" class="list-unstyled submenu collapse">
            <li><a>Pictures</a></li>
            <li><a>Videos</a></li>
        </ul>
        <li>
            <a>
                <i class="fa fa-dashboard fa-fw"></i>
                Categories
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-dashboard fa-fw"></i>
                Types
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-dashboard fa-fw"></i>
                Messages
            </a>
        </li>
        <li>
            <a>
               <i class="fa fa-dashboard fa-fw"></i>
                Contacts 
            </a>
        </li>
        <li>
            <a>
               <i class="fa fa-dashboard fa-fw"></i>
                Comments 
            </a>
        </li>
        <li>
            <a>
               <i class="fa fa-dashboard fa-fw"></i>
                Roles 
            </a>
        </li>
    </ul>
</div>
