<div class="sidebar home-sidebar col-md-4">
    <!-- introduce -->
    <section class="hot-bloger row">
        <ul class="list-unstyled">
            <li class="row">
                <div>
                    <img src="assets/images/huonggiang.jpg" class="col-md-5">
                    <div class="col-md-7 user-name">
                        <h3><a>Viet Toan</a></h3>
                    </div>
                    <div class="col-md-12 info-hot-bloger">
                        <button class="btn btn-default col-md-4">Ket ban</button>
                        <p class="col-md-4">Posts: 9</p>
                        <p class="col-md-4">Likes: 9</p>
                    </div>
                </div>
            </li>
            <li>
                <button class="btn btn-primary col-md-12">Like this post</button>
            </li>
        </ul>
    </section>
</div>
<div class="col-md-8" id="content" >
   <div class="col-md-11">
        <article class="row">
            <header class="row">
                <img src="assets/images/huonggiang.jpg" class="col-md-3">
                <div class="col-md-9 user-name">
                    <h3 class="pull-left"><a>Viet Toan</a></h3>
                    <div class="pull-left position"><time> 21/07/2017 </time>trong<a>Giai tri</a></div>
                </div>
            </header>
            <div class="title">
                <h3><a>Mổ Meizu Pro 7 Plus: muốn tiếp cận được màn hình phụ sau lưng thì phải gỡ hết mặt trước, không dễ</a></h3>
            </div>
            <div class="thread-image">
                <img src="assets/images/huonggiang.jpg">
            </div>
            <div class="post-content">
                <p>Meizu Pro 7 Plus có hai màn hình, độc nhất là màn hình AMOLED thứ hai ở phía sau. Và cũng vì cấu tạo phức tạp như vậy nên việc thay thế, sửa chữa chiếc điện thoại nào cũng không phải là dễ. Để tiếp cận được tới màn hình sau bạn luôn phải gỡ mặt trước và nội thất ra, nhiều keo được sử dụng ở các vị trí khác nhau cũng khiến máy trở nên khó sửa…<a>xem them</a></p>
            </div>
            <footer>
                <div class="info-action-post row">
                    <div class="pull-left">
                        <small><a>1 like</a></small>
                    </div>
                    <div class="pull-right">
                        <small><a>1 binh luan</a></small>
                        <small><a>1 chia se</a></small>
                        <small><a>1 luot xem</a></small>
                    </div>
                </div>
                <div class="action">
                    <a><i class="fa fa-thumbs-up fa-lg" aria-hidden="true"></i>Thich</a>
                    <a><i class="fa fa-comment-o fa-lg" aria-hidden="true"></i>Comment</a>
                    <a><i class="fa fa-share-alt fa-lg" aria-hidden="true"></i>Share</a>
                </div>
            </footer>
        </article>
    </div> 
</div>