<div class="content-admin">
    <div class="count">
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Users</b>
                </div>
                <div class="panel-body">
                    <h1>999 999</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Posts</b>
                </div>
                <div class="panel-body">
                    <h1>999 999</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>Visits</b>
                </div>
                <div class="panel-body">
                    <h1>999 999</h1>
                </div>
            </div>
        </div>

        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <b>User activity</b>
                </div>
                <div class="panel-body">
                    <h1>999 999</h1>
                </div>
            </div>
        </div>
    </div>
    
</div>
