<div class="sidebar sidebar-user col-md-4">
    <!-- introduce -->
    <section class="introduce row">
        <div class="title"><a><img src="assets/images/introduce.png">Gioi thieu</a></div>
        <ul class="list-unstyled">
            <li><i class="fa fa-briefcase col-md-2" ariahideSidebarUser-hidden="true"></i>Lam viec tai<a>Ha Noi</a></li>
            <li><i class="fa fa-university col-md-2" aria-hidden="true"></i>Tung hoc tai<a>Thpt Ngoc Hoi</a></li>
            <li><i class="fa fa-map-marker col-md-2" aria-hidden="true"></i>Song tai<a>Ha Noi</a></li>
            <li><i class="fa fa-bookmark col-md-2" aria-hidden="true"></i>So thich </li>
            <li><i class="fa fa-heart col-md-2" aria-hidden="true"></i>Quan he</li>
        </ul>
    </section>
    <!-- Photo highlights -->
    <section class="introduce row">
        <div class="title"><a><img src="assets/images/photos.png">Anh</a></div>
    </section>
    <!-- friends -->
    <section class="introduce row">
        <div class="title"><a><img src="assets/images/friends.png">Ban be</a></div>
    </section>
</div>